<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
      <a class="navbar-brand" href="/">Shopify Backend Dev Challenge</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
          <a class="nav-item nav-link" href="/">Inventory</a>
          <a class="nav-item nav-link" href="/new">Create New Product</a>
      </div>
    </div>
  </nav>
</header>